/* src/components/Header.css */

@font-face {
  font-family: icomoon;
  src: url("../../public/fonts/remixicon.ttf");
}
.header {
  background: #f0f0f0;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
  justify-content: space-around;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: icomoon;
}

.btn-container {
  --btn-bg: #fdbf2d;
  --btn-hover-bg: #0033a0;
  --text-color: #0033a0;
  --text-hover-color: #fdbf2d;
}

.btn-login {
  --width: 180px;
  --height: 60px;
  border: 0;
  position: relative;
  min-width: var(--width);
  min-height: var(--height);
  border-radius: var(--height);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.btn-login .text,
.btn-login .icon-container {
  position: relative;
  z-index: 2;
  transition: color 500ms ease;
}

.btn-login .icon-container {
  --icon-size: 25px;
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: 15px;
  transition: transform 500ms ease;
}

.btn-login .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  transition:
    transform 500ms ease,
    opacity 250ms ease;
}

.btn-login .icon--left {
  transform: translateX(-200%);
  opacity: 0;
}

.btn-login .icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  transition: fill 500ms ease;
}

.btn-login::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-bg);
  border-radius: var(--height);
  z-index: 1;
  transition: transform 500ms ease;
}

.btn-login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--btn-hover-bg);
  border-radius: var(--height);
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease;
}

.btn-login:hover::before {
  opacity: 1;
}

.btn-login:hover::after {
  transform: translateX(100%);
}

.btn-login:hover .icon-container {
  transform: translateX(125%);
}

.btn-login:hover .icon--left {
  transform: translateX(0);
  opacity: 1;
}

.btn-login:hover .icon--right {
  transform: translateX(200%);
  opacity: 0;
}

.btn-login:hover,
.btn-login:hover .icon svg {
  color: var(--text-hover-color);
}
